@page "/"

@inject ILocalFontService LFonts;
@inject IJSRuntime Js;

<div class="container-fluid">

    <h1>Local Font API</h1>

    <hr />

    <SupportPanel Supported="supported" />

    @if (supported)
    {
        <PermissionPanel Permission="permission" />

        <hr />

        <FontListPanel PermissionMayChanged="UpdatePermissionStateAsync" />

        <hr />

        <FontRefPanel />
    }
</div>