@page "/"

@inject ILocalFontService LFonts;
@inject IJSRuntime Js;

<div class="container-fluid">

    <h1>Local Font API</h1>

    <hr />

    <SupportPanel Supported="supported" />

    @if (supported)
    {
        <PermissionPanel Permission="permission" />

        <hr />

        <FontListPanel PermissionMayChanged="UpdatePermissionStateAsync" />

        <hr />

        <div class="alert alert-warning">
            From this example forward, there is no exception handling.
            Make sure you have granted Fonts permission.
        </div>

        <FontRefPanel />

        <hr />

        <FontSearchPanel />
    }
</div>